#topnav ul {
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    border-style: solid;
    border-color: #D3D3D3;
    margin-top: 0px;
}

#topnav li {
    text-decoration: none;
    color: #57a2e4;
    text-align: center;
    padding: 12px 14px;
    float: left;
    font-size: 25px;
}

#topnav li :hover {
    background-color: #57a2e4;
    color: white;
    padding: 12px;
    border-radius: 7px;
 
}

img {
    height: 350px;
    width: 500px; 
  }

.picture {
    border:1px solid #000;
    width: 65%;
    height: 65%;
}

.title {
    font-family: 'Arvo', serif;
    font-size: 18px;
    Line-height: 24px;
    color: #000;
   }

   .information {
    font-family: 'Swiss', serif;
    font-size: 18px;
    color: #999;
    border-style: solid;
    border-color: #D3D3D3;
    border-width: 2px;
    width: 600px; 
    margin-left: auto;
    margin-right: auto;
   }

   .noDecoration, a:link, a:visited {
    text-decoration: none;
}

.post {
    border-style: solid;
    border-color: #D3D3D3;
    border-width: 2px;
    width: 600px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}